@model ProjectVeiculos.Models.veiculos

@{
    ViewBag.Title = "Adicionar";
}

<h2>Adicionar veiculo</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <table class="table">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.placa)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.placa)
                        @Html.ValidationMessageFor(model => model.placa)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.proprietario)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.proprietario)
                        @Html.ValidationMessageFor(model => model.proprietario)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.id_tipo_veiculo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownList("id_tipo_veiculo", String.Empty)
                        @Html.ValidationMessageFor(model => model.id_tipo_veiculo)
                    </div>
                </td>
            </tr>
            <p>
                <input type="submit" value="Create" class="btn btn-default" />
            </p>
            
        </table>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
