@model ProjectVeiculos.Models.veiculos

@{
    ViewBag.Title = "Visualizar";
}

<fieldset>
    <legend>Dados Veiculo</legend>
        <table class="table">
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.id_veiculo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.id_veiculo)
                    </div>
                <td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.placa)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.placa)
                    </div>
                <td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.proprietario)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.proprietario)
                    </div>
                <td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.id_tipo_veiculo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.tipos_veiculo.nome)
                    </div>
                <td>
            </tr>
        </table>
</fieldset>
<p>
    @Html.ActionLink("Editar", "editar", new { id = Model.id_veiculo }) |
    @Html.ActionLink("Voltar", "Index")
</p>
<hr />
<legend>Fotos</legend>
<p>
    <a href="@Url.Action("add_foto", "home", new { id = Model.id_veiculo })" class="btn btn-success">
        Adicionar foto
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
<!--@Html.ActionLink("Adicionar Foto", "add_foto", new { id = Model.id_veiculo }) -->
</p> 
<img src="@Url.Content("~/uploads/carro-tunado.jpg")" alt="IMAGES" />

@using(Html.BeginForm()) {
    @Html.EditorFor(o => d.Email)
    ...
}